<!--Star Header-->
<header>
  <div class="header-container">
    <div class="logo">
      <a routerLink="/home">
        <img src="https://chamygaby.vn/thumbs/205x69x2/upload/photo/logo-1260.png" alt="Chamy Gaby Logo">
      </a>
    </div>
    <nav class="navbar" #navbar>
      <!-- Nút hamburger -->
      <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle Menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <!-- Menu -->
      <div class="menu-container">
          <button class="close-btn" (click)="toggleMenu()" aria-label="Close Menu">✕</button>
          <ul class="top-menu">
              <li><a routerLink="/login"><i class="fas fa-user"></i> LOGIN</a></li>
              <li><a routerLink="/search"><i class="fas fa-search"></i> Tìm kiếm</a></li>
              <li><a routerLink="/cart"><i class="fas fa-shopping-cart"></i> Giỏ hàng</a></li>
          </ul>
          <ul class="main-menu">
              <li><a routerLink="/product">SẢN PHẨM MỚI</a></li>
              <li><a routerLink="/sale">SẢN PHẨM GIẢM GIÁ</a></li>
              <li><a routerLink="/collections">BỘ SƯU TẬP</a></li>
              <li><a routerLink="/recruitment">TUYỂN DỤNG</a></li>
              <li><a routerLink="/policy">CHÍNH SÁCH</a></li>
              <li><a routerLink="/stores">HỆ THỐNG CỬA HÀNG</a></li>
          </ul>
      </div>
    </nav>
    <ul class="right-icon">
      <li><a routerLink="/login"><i class="fas fa-user"></i> LOGIN</a></li>
      <li><a routerLink="/search"><i class="fas fa-search"></i> Tìm kiếm</a></li>
      <li><a routerLink="/cart"><i class="fas fa-shopping-cart"></i> Giỏ hàng</a></li>
    </ul>
  </div>
</header>
<!--End Header-->
<div class="overlay" (click)="toggleMenu()"></div>
<!--Star Main-->
<main>
    <!--banner-->
    <div class="banner">
        <div class="slide active" style="background-image: url('https://chamygaby.vn/thumbs/1024x525x1/upload/photo/20250305-095056-8248.jpg')"></div>
        <div class="slide" style="background-image: url('https://chamygaby.vn/thumbs/1024x525x1/upload/photo/20250305-095533-1129.jpg')"></div>
        <div class="slide" style="background-image: url('https://chamygaby.vn/thumbs/1024x525x1/upload/photo/20250305-095102-2157.jpg')"></div>
        <div class="slide" style="background-image: url('https://chamygaby.vn/thumbs/1024x525x1/upload/photo/20250305-095543-2786.jpg')"></div>
        <button class="prev" (click)="prevSlide()">❮</button>
        <button class="next" (click)="nextSlide()">❯</button>
    </div>

    <section class="content">
        <div class="products">
            <h2>New Arrival</h2>
            <div class="product-grid">
                <a class="item" *ngFor="let product of products">
                    <div class="image-container">
                    <img [src]="product.Images[0].Link" alt="{{product.Name}}" routerLink="/product/{{product.Id}}"> <!-- Use the first image -->
                    <div class="hover-bar">
                        <a href=""><i class="fa-solid fa-eye"></i></a> <!-- Icon "Xem chi tiết" -->
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a> <!-- Icon "Thêm vào giỏ" -->
                        <a href=""><i class="fa-regular fa-heart"></i></a> <!-- Icon "Yêu thích" -->
                    </div>
                    </div>
                    <div class="product-info">
                        <div class="left-column">
                            <div class="description" routerLink="/product/{{product.Id}}">{{product.Name}}</div>
                            <div class="price">{{product.Price | number}}đ</div>
                        </div>
                        <div class="right-column">
                            <div class="sold">({{product.Count}} đã bán)</div>
                        </div>
                    </div>
                </a>
            </div>
            <button class="view-more-btn" routerLink="/product">Xem thêm sản phẩm</button>
            <section class="reviews">
                <h2>CẢM NHẬN KHÁCH HÀNG</h2>
                <div class="review-slider" >
                    <div class="review-track" *ngFor="let review of duplicatedReviews;">
                        <div class="review-item">
                            <div class="review-image">
                                <img [src]="review.image" [alt]="review.name">
                            </div>
                            <div class="review-content">
                                <h3>{{review.name}}</h3>
                                <p class="title">{{review.title}}</p>
                                <p class="quote">{{review.quote}}</p>
                                <div class="stars">★★★★★</div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </section>
</main>
<!--End Main-->

<!--Star Footer-->
<footer>
    <div class="footer-container">
      <div class="footer-column column-1">
        <img src="https://chamygaby.vn/thumbs/222x75x2/upload/photo/logo3-3546.png" alt="Chamy Gaby Logo" class="footer-logo">
        <p>CÔNG TY TNHH ĐẦU TƯ & PHÁT TRIỂN THƯƠNG MẠI CHAMY</p>
        <p>GPKD số 0109617697, Đăng ký ngày: 04-05-2021</p>
        <p>Nơi cấp: Sở Kế hoạch và Đầu tư Thành phố Hà Nội</p>
        <p>Địa chỉ: Tầng 12 tòa nhà Licogi 13, Số 164 Khuất Duy Tiến, Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam</p>
        <p>Email: <a href="mailto:Ducpham.ms@gmail.com">{{email}}</a></p>
        <p>Điện thoại: <a href="tel:0978833688">0978833688</a></p>
        <div class="social-links">
          <a href="#">Chamy Gaby</a>
          <a href="#">Chamy Gaby</a>
          <a href="#">Chamy Gaby</a>
          <a href="#">Chamy Gaby</a>
        </div>
        <p class="copyright">Copyright © 2024 CHAMY GABY. Designed by <a href="https://nina.vn">Nina.vn</a></p>
      </div>
      <div class="footer-column column-2">
        <h3>Danh mục</h3>
        <ul>
          <li><a href="#">Sản phẩm mới</a></li>
          <li><a href="#">Sản phẩm giảm giá</a></li>
          <li><a href="#">Bộ sưu tập</a></li>
          <li><a href="#">Tuyển dụng</a></li>
          <li><a href="#">Chính sách</a></li>
          <li><a href="#">Hệ thống cửa hàng</a></li>
        </ul>
      </div>
      <div class="footer-column column-3">
        <h3>Chính sách & Hỗ trợ</h3>
        <ul>
          <li><a href="#">Điều khoản và quy định chung</a></li>
          <li><a href="#">Chính sách bảo mật thông tin</a></li>
          <li><a href="#">Phương thức thanh toán</a></li>
          <li><a href="#">Chính sách vận chuyển và kiểm hàng</a></li>
          <li><a href="#">Chính sách bảo hành và đổi trả</a></li>
        </ul>
      </div>
      <div class="footer-column column-4">
        <h3>Đăng ký nhận tin</h3>
        <p>Điền thông tin của bạn để liên hệ nhận ưu đãi từ chúng tôi!</p>
        <form>
          <label for="phone">Điện thoại</label><br>
          <input type="text" id="phone" name="phone" placeholder="Số điện thoại"><br>
          <label for="email">Email</label><br>
          <input type="email" id="email" name="email" placeholder="Email"><br>
          <button type="submit">Gửi liên hệ</button>
        </form>
      </div>
    </div>
</footer>
<!--End Footer-->
