<div class="container">
    <!-- Sidebar Menu -->
    <div class="sidebar" (mouseover)="openMenu()" (mouseleave)="closeMenu()" [class.expanded]="isMenu">
      <!-- Logo -->
      <div class="logo" *ngIf="isMenu">
        METRONIC
        <span class="collapse-icon">«</span>
      </div>
      <div class="menu" *ngIf="isMenu" style="color: #fff;">
        <h6>CHỨC NĂNG</h6>
      </div>
      <ul>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Chăm sóc khách hàng</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/contact">Quản lý yêu cầu</a></li>
              <li><a routerLink="/admin/customer">Quản lý người dùng</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Quản lý đơn hàng</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/orderprocessing">Quản lý đơn hàng được duyệt</a></li>
              <li><a routerLink="/admin/order">Quản lý đơn hàng</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Sản Phẩm</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/product">Quản lý sản phẩm</a></li>
              <li><a routerLink="/admin/category">Quản lý danh mục</a></li>
              <li><a routerLink="/admin/image">Quản lý hình ảnh</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Bộ sưu tập </summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/blog">Danh sách Blog</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Bình luận</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/comment">Danh sách bình luận</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Phân quyền </summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/user">Nhân sự</a></li>
              <li><a routerLink="/admin/nhomquyen">Nhóm quyền</a></li>
              <li><a routerLink="/admin/role">Quyền</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Gửi thông báo tự động </summary>
            <ul class="drop-menu" >
              <li><a routerLink="">Thông báo tự động</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Lịch sử</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/history">Thông tin lịch sử hệ thống</a></li>
            </ul>
          </details>
        </li>
        <li *ngIf="isMenu"><button class="update-btn" (click)="logout()">Đăng xuất</button></li>
      </ul>
    </div>
  
    <!-- Nội dung chính -->
    <div class="main-content">
        <div class="comment-section">
            <!-- Danh sách bình luận -->
            <div class="comment-list-section">
                <!-- Tiêu đề và nút -->
                <div class="header">
                    <div class="header-content">
                        <h2>History<span class="sub-header">Trang chủ</span></h2>
                    </div>

                </div>

                <table class="comment-table">
                    <thead>
                        <tr>
                            <th>CustomerName</th>
                            <th>Action</th>
                            <th>Description</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let history of histories">

                            <td>{{ history.CustomerName }}</td>
                            <td>{{ history.Action }}</td>
                            <td>{{ history.Description }}</td>
                            <td>{{ history.CreatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- PHÂN TRANG -->
                <div class="pagination" style="display: flex; padding: 1rem; justify-content: center; gap: 6px; flex-wrap: wrap;">
                    <!-- Trang đầu và trước -->
                    <button (click)="prevPage()" [disabled]="page === 1">‹</button>
                
                    <!-- Danh sách số trang -->
                    <button 
                    *ngFor="let p of visiblePages"
                    [class.active]="page === p"
                    (click)="goToPage(p)">
                    {{ p }}
                    </button>
                
                    <!-- Trang sau và cuối -->
                    <button (click)="nextPage()" [disabled]="page === totalPages">›</button>
                </div>
  
                <div *ngIf="histories.length === 0" class="no-data">No history available.</div>
            </div>
        </div>
    </div>
</div>
