
/* Header Styles */
header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100%;
    max-width: 12rem;
    height: auto;
    object-fit: contain;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }

  .user-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
    border-radius: 6px;
    padding: 10px;
  }
  
  .user-dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #f0f0f0;
  }

  .search-bar {
    position: absolute;
    top: 90%; /* Điều chỉnh tùy vị trí menu */
    left: 70%;
    right: 0;
    box-shadow: 0 2px 5px rgba(219, 55, 55, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    border-radius: 20px;
  }
  
  .search-input {
    padding: 8px;
    width: 100%;
    border: 1px solid #f85353;
    border-radius: 20px;
    font-size: 14px;
    outline: none; /* Ngăn trình duyệt thêm viền xanh */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Khi focus vào input */
  .search-input:focus {
    border-color: #f85353; /* Giữ nguyên màu viền */
    box-shadow: 0 0 5px rgba(248, 83, 83, 0.5); /* Hiệu ứng ánh sáng màu đỏ */
  }
  .search-bar.ng-enter,
  .search-bar.ng-leave-to {
    opacity: 0;
    transform: translateY(-10px);
  }
  .search-bar.ng-enter-active,
  .search-bar.ng-leave-active {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Chặn tương tác với main khi menu mở */
  .navbar.active ~ main {
    pointer-events: none;
  }
  
  .top-menu {
    opacity: 1;
  }
  
  .top-menu,
  .main-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  
  .top-menu li,
  .main-menu li {
    margin: 0 0.75rem;
  }
  
  .top-menu a,
  .main-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  
  .top-menu a i {
    margin-right: 0.3rem;
    font-size: 1rem;
  }
  
  .main-menu a {
    position: relative;
    font-size: 0.9rem;
    color: #000;
    padding: 0.75rem 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .top-menu a:hover,
  .main-menu a:hover {
    color: #957C56;
    transition: color 0.3s ease;
  }
  
  /* Hamburger Button */
  .hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease;
  }
  
  /* Close Button */
  .close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  
  /* Right Icon (ẩn hoàn toàn trên desktop) */
  .right-icon {
    display: none;
  }
  
  /* Menu Container */
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  
  /* Responsive Design */
  @media (max-width: 1200px) {
    .header-container {
      padding: 0.5rem 1rem;
      position: relative;
    }
  
    .logo {
      order: 2;
      flex: 1;
      justify-content: center;
    }
  
    .navbar {
      order: 1;
      width: auto;
    }
  
    .top-menu {
      opacity: 0;
      order: 1;
    }
  
    .right-icon {
      display: flex;
      order: 3;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    .right-icon li {
      margin: 0 0.5rem;
    }
  
    .right-icon a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #333;
      font-size: 0;
    }
  
    .right-icon a i {
      font-size: 1.2rem;
      margin-right: 0;
    }
  
    .right-icon a:hover {
      color: #957C56;
      transition: color 0.3s ease;
    }
  
    .hamburger {
      display: block;
    }
  
    .menu-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 350px;
      height: 100vh;
      background-color: #fff;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      border-right: 1px solid #ccc;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
      z-index: 1002;
      align-items: flex-start;
    }
  
    .navbar.active .menu-container {
      transform: translateX(0);
    }
  
    .navbar.active .menu-container {
      max-height: 100vh;
    }
  
    .close-btn {
      display: block;
    }
  
    .top-menu,
    .main-menu {
      flex-direction: column;
      width: 100%;
      text-align: left;
      margin-top: 20px;
      padding: 1rem;
    }
  
    .top-menu li,
    .main-menu li {
      margin: 0.5rem 0;
    }
  
    .logo img {
      max-width: 10rem;
    }
  
  }
  
@media (max-width: 480px) {
      .main-menu a {
        font-size: 0.8rem;
        padding: 0.5rem 0;
      }
  
      .top-menu a i {
        font-size: 0.9rem;
      }
  
      .right-icon a i {
        font-size: 1rem;
      }
  
      .menu-container {
        width: 200px;
      }
}
/****************************************************************************************************************************************/

/* Footer Styles */
footer {
    background-color: #0F0F0F;
    padding: 2rem 0; /* Giảm từ 20px để gọn hơn */
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    position: relative; /* Đảm bảo footer không chồng lên nội dung */
    z-index: 1;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem; /* Giảm từ 100px để linh hoạt hơn */
    max-width: 1200px; /* Giới hạn chiều rộng tối đa */
    margin: 0 auto; /* Căn giữa */
  }
  
  .footer-column {
    padding: 1rem; /* Giảm từ 20px */
  }
  
  .column-1 {
    flex: 2;
  }
  
  .column-2,
  .column-3,
  .column-4 {
    flex: 1;
  }
  
  .footer-logo {
    width: 100%;
    max-width: 12rem; /* Giảm từ 205px để đồng bộ với header */
    height: auto;
    object-fit: contain;
    margin-bottom: 1rem; /* Giảm từ 20px */
  }
  
  .column-1 p {
    margin: 0.3rem 0; /* Giảm từ 5px */
    color: #FFFFFF;
    font-size: 0.9rem; /* Giảm từ 14px */
  }
  
  .column-1 a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .column-1 a:hover {
    text-decoration: underline;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin: 0.5rem 0; /* Giảm từ 10px */
  }
  
  .footer-column ul li a {
    color: #B0B0B0;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    color: #FFFFFF;
  }
  
  .footer-column h3 {
    color: #FFFFFF;
    font-size: 1.2rem; /* Thêm để đồng bộ */
    margin-bottom: 1rem;
  }
  
  .footer-column form {
    margin-top: 0.5rem; /* Giảm từ 10px */
  }
  
  .footer-column form label {
    font-size: 0.9rem; /* Giảm từ 14px */
    color: #FFFFFF;
  }
  
  .footer-column form input {
    width: 100%;
    padding: 0.5rem; /* Giảm từ 8px */
    margin: 0.3rem 0; /* Giảm từ 5px */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000000;
  }
  
  .footer-column form button {
    background-color: #957C56;
    color: #FFFFFF;
    padding: 0.5rem 1rem; /* Giảm từ 8px 15px */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem; /* Giảm từ 10px */
  }
  
  .footer-column form button:hover {
    background-color: #7a6445;
  }
  
  .social-links {
    margin: 0.75rem 0; /* Giảm từ 15px */
  }
  
  .social-links a {
    display: block;
    color: #FFFFFF;
    margin: 0.3rem 0; /* Giảm từ 5px */
  }
  
  .social-links a:hover {
    color: #957C56;
  }
  
  .copyright {
    font-size: 0.75rem; /* Giảm từ 12px */
    color: #FFFFFF;
    text-align: center; /* Căn giữa */
    margin-top: 1rem; /* Thêm khoảng cách trên */
  }
  
  .copyright a {
    color: #FFFFFF;
  }
  
  .copyright a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Footer */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      padding: 0 1rem;
    }
  
    .footer-column {
      padding: 0.5rem;
    }
  
    .footer-logo {
      max-width: 10rem;
    }
  
    .column-1 p,
    .footer-column h3,
    .footer-column ul li a,
    .footer-column form label {
      font-size: 0.85rem;
    }
  }
  
  @media (max-width: 480px) {
    .footer-column h3 {
      font-size: 1rem;
    }
  
    .footer-column form input,
    .footer-column form button {
      font-size: 0.8rem;
    }
  }
/**********************************************************************************************************************************************/

/* Main Styles */
main {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin-top: 0;
    min-height: calc(100vh - 8rem);
    z-index: 1;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px; /* Thêm padding để tránh sát mép trên mobile */
}

.title-top{
  display: flex;
  background-color: rgb(255,243,205);
  height: 50px;
  align-items: center;
}
.title{
 margin-left: 100px;
}
.title-top a{
  text-decoration: none;
  margin-left: 5px;
  font-size: 18px;
  color: #000;
}

.product-images {
    flex: 1;
    display: flex;
    margin-right: 20px;
}

.thumbnail-images {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.thumbnail {
    width: 140px;
    height: 170px;
    cursor: pointer;
    margin-bottom: 10px;
    object-fit: cover; /* Đảm bảo ảnh vừa khung */
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.thumbnail:hover {
    opacity: 0.8;
}

.main-image {
    width: 500px;
    height: 550px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

.product-info {
    flex: 2;
}

.price {
    font-size: 24px;
    color: red;
}

.availability {
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.color-selection,
.size-selection {
    margin: 10px 0;
}

.option-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.option-box {
    position: relative;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    min-width: 50px;
    transition: border-color 0.3s ease;
}

.option-box:hover {
    border-color: #007bff;
}

.option-box.selected {
    border-color: #ff0000;
    background-color: #ffe6e6;
}

.checkmark {
    position: absolute;
    top: 2px;
    right: 2px;
    color: #ff0000;
    font-size: 12px;
}

.quantity-selection {
    margin: 10px 0;
}

.add-to-cart,
.buy-now {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover,
.buy-now:hover {
    background-color: #0056b3;
}

.description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.policies {
    margin-top: 20px;
}

.policy-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.policy-item span {
    font-size: 14px;
}

.plus-icon {
    font-size: 16px;
    color: #007bff;
    cursor: pointer;
}

.plus-icon:hover {
    color: #0056b3;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
}

/* Tabs Styles - Chỉnh sửa */
.tabs {
    margin-top: 20px;
    width: 100%; /* Chiếm toàn bộ chiều rộng */
}
.quantity-btn{
  margin: 10px;
}
.tab-headers {
    display: flex;
    gap: 5px; /* Giảm gap để các nút sát nhau hơn */
    width: 100%;
    border-bottom: 1px solid #ccc; /* Đường viền dưới để phân cách */
}

.tab-button {
    /* Các nút chiếm đều không gian */
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-bottom: none; /* Xóa viền dưới để nối liền với tab-content khi active */
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button:hover {
    background-color: #e0e0e0; /* Hiệu ứng hover */
}

.tab-button.active {
    background-color: #007bff;
    color: white;
    border-bottom: 1px solid #007bff; /* Đường viền dưới trùng màu nền khi active */
}

.tab-content {
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 0 0 5px 5px; /* Chỉ bo góc dưới */
    background-color: #fff;
}

.comment-list .comment {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #eee; /* Đường viền nhẹ giữa các comment */
}

.comment-date {
    font-size: 12px;
    color: #666;
}

.related-products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.related-product {
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease;
}

.related-product:hover {
    transform: scale(1.05); /* Hiệu ứng phóng to khi hover */
}

.related-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.related-name {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
}

.related-price {
    font-size: 14px;
    color: red;
}
.star {
    font-size: 20px; /* Kích thước sao */
    color: #ccc; /* Màu xám cho sao không được chọn */
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu mượt */
}

.star.filled {
    color: #ffcc00; /* Màu vàng cho sao được chọn (dựa trên Vote) */
}
/* Responsive Design */
/* Tablet (max-width: 768px) */
@media (max-width: 880px) {
    .container {
        flex-direction: column;
        padding: 0 10px;
    }

    .product-images {
      margin-right: 0;
      margin-bottom: 20px; /* Tạo khoảng cách với product-info */
      flex-direction: column;
      align-items: start;
    }

    .product-info {
      width: 100%;

    }
    
    .thumbnail-images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }

    .thumbnail {
        width: 100px; /* Giảm kích thước trên tablet */
        height: 120px;
        margin: 5px;
    }

    .main-image {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .product-info {
        text-align: start;
    }

    .price {
        font-size: 20px;
    }

    .add-to-cart,
    .buy-now {
        width: 100%;
        max-width: none;
        margin: 5px 0; /* Xếp dọc trên tablet */
    }

    /* Tabs Responsive */
    .tab-headers {
        flex-direction: column; /* Xếp dọc các nút tab */
        gap: 0;
    }

    .tab-button {
        border-radius: 5px; /* Bo hết các góc khi xếp dọc */
        border-bottom: 1px solid #ccc; /* Giữ viền dưới khi không active */
        padding: 10px;
    }

    .tab-button.active {
        border-bottom: 1px solid #007bff; /* Đường viền dưới khi active */
    }

    .tab-content {
        padding: 15px;
    }

    .related-product {
        width: 120px;
    }

    .related-image {
        height: 120px;
    }
    
}

/* Mobile (max-width: 480px) */
@media (max-width: 480px) {
    .thumbnail {
        width: 80px; /* Giảm kích thước trên mobile */
        height: 100px;
    }

    .main-image {
        max-width: 100%;
    }

    .price {
        font-size: 18px;
    }

    .option-box {
        padding: 8px 12px;
        min-width: 40px;
    }

    .quantity-selection .quantity-btn {
        width: 25px;
        height: 25px;
        font-size: 16px;
    }

    .quantity-selection .quantity-display {
        width: 40px;
        font-size: 14px;
    }

    /* Tabs Responsive */
    .tab-button {
        padding: 8px;
        font-size: 12px;
    }

    .tab-content {
        padding: 10px;
    }

    .comment-list .comment {
        padding: 8px;
    }

    .related-product {
        width: 100px;
    }

    .related-image {
        height: 100px;
    }

    .related-name,
    .related-price {
        font-size: 12px;
    }
    /* Trong file CSS hiện tại (ví dụ: product-detail.component.css) */
}