<div class="container">
    <!-- Sidebar Menu -->
    <div class="sidebar" (mouseover)="openMenu()" (mouseleave)="closeMenu()" [class.expanded]="isMenu">
      <!-- Logo -->
      <div class="logo" *ngIf="isMenu">
        METRONIC
        <span class="collapse-icon">«</span>
      </div>
      <div class="menu" *ngIf="isMenu" style="color: #fff;">
        <h6>CHỨC NĂNG</h6>
      </div>
      <ul>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Chăm sóc khách hàng</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/contact">Quản lý yêu cầu</a></li>
              <li><a routerLink="/admin/customer">Quản lý người dùng</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Quản lý đơn hàng</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/orderprocessing">Quản lý đơn hàng được duyệt</a></li>
              <li><a routerLink="/admin/order">Quản lý đơn hàng</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Sản Phẩm</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/product">Quản lý sản phẩm</a></li>
              <li><a routerLink="/admin/category">Quản lý danh mục</a></li>
              <li><a routerLink="/admin/image">Quản lý hình ảnh</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Bộ sưu tập </summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/blog">Danh sách Blog</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Bình luận</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/comment">Danh sách bình luận</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Phân quyền </summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/user">Nhân sự</a></li>
              <li><a routerLink="/admin/nhomquyen">Nhóm quyền</a></li>
              <li><a routerLink="/admin/role">Quyền</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Gửi thông báo tự động </summary>
            <ul class="drop-menu" >
              <li><a routerLink="">Thông báo tự động</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Lịch sử</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/history">Thông tin lịch sử hệ thống</a></li>
            </ul>
          </details>
        </li>
        <li *ngIf="isMenu"><button class="update-btn" (click)="logout()">Đăng xuất</button></li>
      </ul>
    </div>
  
    <!-- Nội dung chính -->
    <div class="main-content">
      <!-- Header -->
      <div class="contact-management">
        <!-- <div class="add-contact-section" *ngIf="showAddForm">
          <h2>{{ isEditing ? 'Edit Contact' : 'Add New Contact' }}</h2>
          <form (ngSubmit)="addContact()" class="contact-form">
            <div class="form-group">
              <label for="fullname">Full Name:</label>
              <input type="text" id="fullname" [(ngModel)]="newContact.Fullname" name="fullname" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" [(ngModel)]="newContact.Email" name="email" required>
            </div>
            <div class="form-group">
              <label for="phonenumber">Phone Number:</label>
              <input type="text" id="phonenumber" [(ngModel)]="newContact.Phonenumber" name="phonenumber" required>
            </div>
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" id="title" [(ngModel)]="newContact.Title" name="title" required>
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea id="description" [(ngModel)]="newContact.Description" name="description"></textarea>
            </div>
            <div class="form-actions">
              <button type="submit" class="submit-btn"
                [disabled]="!newContact.Fullname || !newContact.Email || !newContact.Phonenumber || !newContact.Title">
                {{ isEditing ? 'Update Contact' : 'Add Contact' }}
              </button>
              <button type="button" class="cancel-btn" *ngIf="isEditing" (click)="resetForm()">Cancel</button>
            </div>
          </form>
  
        </div> -->
        <!-- Danh sách liên hệ dưới dạng bảng -->
        <div class="contact-list-section">
  
          <!-- Tiêu đề và nút -->
          <div class="header">
            <div class="header-content">
              <h2>Contact <span class="sub-header">Trang chủ</span></h2>
              <button class="add-btn" (click)="openModal()">
                Add contact
              </button>
            </div>
          </div>
          <div class="table-content">
            <div class="table-header-row">
              <div>Full name </div>
              <div>Email</div>
              <div>Phone number</div>
              <div>Title</div>
              <div>Description </div>
              <div>Created At</div>
            </div>
            <div class="table-row" *ngFor="let contact of contacts">
              <div>{{ contact.Fullname }}</div>
              <div>{{ contact.Email }}</div>
              <div>{{ contact.Phonenumber }}</div>
              <div>{{ contact.Title }}</div>
              <div>{{ contact.Description || 'No description' }}</div>
              <div>{{  contact.CreatedAt | date  }}</div>
            </div>
          </div>
          <!-- PHÂN TRANG -->
          <div class="pagination" style="display: flex; padding: 1rem; justify-content: center; gap: 6px; flex-wrap: wrap;">
            <!-- Trang đầu và trước -->
            <button (click)="prevPage()" [disabled]="page === 1">‹</button>
        
            <!-- Danh sách số trang -->
            <button 
            *ngFor="let p of visiblePages"
            [class.active]="page === p"
            (click)="goToPage(p)">
            {{ p }}
            </button>
            
            <!-- Trang sau và cuối -->
            <button (click)="nextPage()" [disabled]="page === totalPages">›</button>
          </div>
          <!-- modle add contact  -->
          <div class="modal" *ngIf="isModalOpen">
            <div class="modal-content">
              <div class="modal-header">
                <h3>Add contact</h3>
                <span class="close-btn" (click)="closeModal()">×</span>
              </div>
  
              <form (ngSubmit)="addContact()">
                <div class="form-group">
                  <label for="fullName">Full name <span class="required"></span></label>
                  <input type="text" id="fullname" [(ngModel)]="newContact.Fullname" name="fullname" required>
                </div>
  
                <div class="form-group">
                  <label for="email">Email <span class="required"></span></label>
                  <input type="email" id="email" [(ngModel)]="newContact.Email" name="email" required>
                </div>
  
                <div class="form-group">
                  <label for="phone">Phone number <span class="required"></span></label>
                  <input type="text" id="phonenumber" [(ngModel)]="newContact.Phonenumber" name="phonenumber" required>
                </div>
                <div class="form-group">
                  <label for="fullName">Title<span class="required"></span></label>
                  <input type="text" id="title" [(ngModel)]="newContact.Title" name="title" required>
                </div>
                <div class="form-group">
                  <label for="fullName">Description <span class="required"></span></label>
                  <textarea id="description" [(ngModel)]="newContact.Description" name="description"></textarea>
                </div>
                <div class="form-actions">
                  <button (click)="confirmModal()" type="submit" class="add-btn"
                    [disabled]="!newContact.Fullname || !newContact.Email || !newContact.Phonenumber || !newContact.Title">
                    {{ isEditing ? 'Update Contact' : 'Add Contact' }}
                  </button>
                  <button type="button" class="cancel-btn" *ngIf="isEditing" (click)="resetForm()">Cancel</button>
                </div>
              </form>
            </div>
          </div>
  
          <div *ngIf="contacts.length === 0" class="no-data">No contacts available.</div>
        </div>
      </div>
    </div>
  </div>