<div class="container">
    <!-- Sidebar Menu -->
    <div class="sidebar" (mouseover)="openMenu()" (mouseleave)="closeMenu()" [class.expanded]="isMenu">
      <!-- Logo -->
      <div class="logo" *ngIf="isMenu">
        METRONIC
        <span class="collapse-icon">«</span>
      </div>
      <div class="menu" *ngIf="isMenu">
        <h6>CHỨC NĂNG</h6>
      </div>

      <ul>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Chăm sóc khách hàng</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/contact">Quản lý yêu cầu</a></li>
              <li><a routerLink="/admin/customer">Quản lý người dùng</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Quản lý đơn hàng</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/orderprocessing">Quản lý đơn hàng được duyệt</a></li>
              <li><a routerLink="/admin/order">Quản lý đơn hàng</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Sản Phẩm</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/product">Quản lý sản phẩm</a></li>
              <li><a routerLink="/admin/category">Quản lý danh mục</a></li>
              <li><a routerLink="/admin/image">Quản lý hình ảnh</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Bộ sưu tập </summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/blog">Danh sách Blog</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Bình luận</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/comment">Danh sách bình luận</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown" *ngIf="isAdmin">
          <details *ngIf="isMenu">
            <summary >Phân quyền </summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/user">Nhân sự</a></li>
              <li><a routerLink="/admin/nhomquyen">Nhóm quyền</a></li>
              <li><a routerLink="/admin/role">Quyền</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Gửi thông báo tự động </summary>
            <ul class="drop-menu" >
              <li><a routerLink="">Thông báo tự động</a></li>
            </ul>
          </details>
        </li>
        <li class="has-dropdown">
          <details *ngIf="isMenu">
            <summary >Lịch sử</summary>
            <ul class="drop-menu" >
              <li><a routerLink="/admin/history">Thông tin lịch sử hệ thống</a></li>
            </ul>
          </details>
        </li>
        <li *ngIf="isMenu"><button  class="update-btn" (click)="logout()">Đăng xuất</button></li>
      </ul>
    </div>
  
    <!-- Nội dung chính -->
    <div class="main-content">
        <div class="order-list">

          <div class="header">
            <div class="header-content">
              <h2>Danh sách đơn hàng <span class="sub-header">Trang chủ</span></h2>
            </div>
            <div class="order-management">
              <h5>Tổng: {{totalOrder}} <span class="approved">Số đơn hàng chờ xử lý: {{pendingOrders}}</span> <span class="pending">Số đơn hàng đã giao: {{deliveredOrders}}</span>
              </h5>
            </div>
          </div>

          <table *ngIf="order.length > 0; else noOrders" class="table">
          <thead>
              <tr>
              <th>Mã Hoán đơn</th>
              <th>Mã sản phẩm </th>
              <th>Tên khách hàng</th>
              <th>Địa chỉ</th>
              <th>Số điện thoại</th>
              <th>Tổng tiền</th>
              <th>Trạng thái</th>
              <th>Ngày tạo</th>
              <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let order of order">
              <td>{{ order.Id }}</td>
              <td >
                <ul>
                  <li *ngFor="let orderitem of order.OrderItems">{{ orderitem.ProductPosCode }}</li>
                </ul>
              </td>
              <td>{{ order.CustomerName }}</td>
              <td>{{ order.Address }}</td>
              <td>{{ order.Phone }}</td>
              <td>{{ order.TotalAmount | currency }} VND</td>
              <td>{{ order.Status }}</td>
              <td>{{ order.CreatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
              <td class="btn-action">
                  <Button (click)="GetOrderDetail(order.Id)">Xem chi tiết</Button>
                  <Button (click)="DeleteOrder(order.Id)">Xóa</Button>
              </td>
              </tr>
          </tbody>
          </table>
        </div>
        <!-- PHÂN TRANG -->
        <div class="pagination" style="display: flex; padding: 1rem; justify-content: center; gap: 6px; flex-wrap: wrap;">
          <!-- Trang đầu và trước -->
          <button (click)="prevPage()" [disabled]="page === 1">‹</button>
      
          <!-- Danh sách số trang -->
          <button 
          *ngFor="let p of visiblePages"
          [class.active]="page === p"
          (click)="goToPage(p)">
          {{ p }}
          </button>
      
          <!-- Trang sau và cuối -->
          <button (click)="nextPage()" [disabled]="page === totalPages">›</button>
        </div>
        <ng-template #noOrders>
        <p>Không có đơn hàng nào.</p>
        </ng-template>
        <div class="overlay" *ngIf="isOrderDeatail"></div>
        <!-- CHI TIẾT ĐƠN HÀNG -->
        <div class="order-details" *ngIf="isOrderDeatail">
          <div class="order-details-header"> 
            <h5>Thông tin đơn hàng </h5>
            <button class="btn-close-header" (click)="closedetail()">x</button>
          </div>
          <hr>
          <div class="order-details-main" *ngFor="let order of orderdetail">
            <div class="customer-infor">
              <dl>
                <dt>Tên người mua</dt>
                <dd>{{order.CustomerName}}</dd>
                <dt>Email</dt>
                <dd>{{order.Email}}</dd>
                <dt>Tỉnh / Thành Phố</dt>
                <dd>{{order.Province}}</dd>
                <dt>Quận / Huyện </dt>
                <dd>{{order.District}}</dd>
                <dt>Phường / Xã </dt>
                <dd>{{order.Wards}}</dd>
                <dt>Địa chỉ</dt>
                <dd>{{order.Address}}</dd>
                <dt>Số điện thoại</dt>
                <dd>{{order.Phone}}</dd>
                <dt>Ghi chú</dt>
                <dd>{{order.Note}}</dd>
                <dt>Ngày mua</dt>
                <dd>{{order.CreatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</dd>
              </dl>
            </div>
            <div class="order-items" *ngFor="let order of orderdetail">
              <table>
                <thead>
                  <tr>
                    <th>Tên sản phẩm</th>
                    <th>Mã PosCode </th>
                    <th>Số lượng</th>
                    <th>Kích thước</th>
                    <th>Màu sắc</th>
                    <th>Giá</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let orderiteam of order.OrderItems">
                    <td>{{orderiteam.ProductName}}</td>
                    <td>{{orderiteam.ProductPosCode}}</td>
                    <td>{{orderiteam.Quantity}}</td>
                    <td>{{orderiteam.SizeName}}</td>
                    <td>{{orderiteam.ColorName}}</td>
                    <td>{{orderiteam.UnitPrice}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--thanh toan-->
            <div class="payment-totals" *ngFor="let order of orderdetail">
              <dl>
                <dt>Tổng đơn: </dt>
                <dd >{{ order.TotalAmount | currency:'' }} VND</dd>
                <dt>Giảm giá hóa đơn: </dt>
                <dd>0 VND</dd>
                <dt>Tổng phải thanh toán: </dt>
                <dd>{{ order.TotalAmount | currency:'' }} VND</dd>
              </dl>
            </div>
            <!-- Cập nhật trạng thái -->
            <div class="status-update" *ngFor="let order of orderdetail">
              <h6>Cập nhật trạng thái đơn hàng</h6>
              <div class="form-group">
                <label for="orderStatus">Trạng thái:</label>
                <select id="orderStatus" [(ngModel)]="selectedStatus" class="form-control">
                  <option *ngFor="let status of orderStatuses" [value]="status.value">{{status.label}}</option>
                </select>
                <button class="btn btn-primary mt-2" (click)="UpdateStatus(order.Id)">Cập nhật</button>
              </div>
            </div>
          </div>
        </div>
    </div>   
</div>
